* @Mrewy

/compose.yaml @Mrewy @gentlebob
/src/index.ts @Mrewy @gentlebob
/src/bot/bot.ts @Mrewy @gentlebob

/nginx/default.conf @gentlebob @Mrewy

/src/discord/emote-matcher.ts @gentlebob @Mrewy

/src/api/ollama.ts @gentlebob @Mrewy
/src/api/vector-store.ts @gentlebob @Mrewy
/src/api/cached-url.ts @gentlebob @Mrewy
/src/api/config/ollama-config.ts @gentlebob @Mrewy

/src/command-handlers/emote.ts @gentlebob @Mrewy
/src/command-handlers/steam.ts @gentlebob @Mrewy
/src/command-handlers/transient.ts @gentlebob @Mrewy

/src/message-create-handlers/ollama-message-create-handler.ts @gentlebob @Mrewy

/src/utils/command-handlers/emote/download-asset.ts @gentlebob @Mrewy
/src/utils/command-handlers/emote/ffprobe-utils.ts @gentlebob @Mrewy
/src/utils/discord/update-commands.ts @gentlebob @Mrewy
