.devcontainer
.github
.vscode
.husky
!.husky/install.ts
assets
chroma-data
data
dist
docs
!docs/Docker.png
!docs/CHANGELOG.md
!docs/PRIVACY.md
!docs/TERMS.md
meili-data
nginx/cache
node_modules
src/tsdoc.json
tests
tmp

.dockerignore
.env
.env.example
.gitattributes
.gitignore
.prettierignore
.prettierrc.json
compose.yaml
Dockerfile
eslint.config.ts
tsconfig.json
tsdoc.json
vitest.config.ts
