.devcontainer
.github
.vscode
.husky
!.husky/install.ts
assets
chroma-data
data
dist
docs
!docs/Docker.png
!docs/CHANGELOG.md
!docs/PRIVACY.md
!docs/TERMS.md
meili-data
nginx/cache
node_modules
src/tsdoc.json
tests
tmp

.dockerignore
.editorconfig
.env
.env.example
.gitattributes
.gitignore
.markdownlint.json
.nvmrc
.prettierignore
commitlint.config.ts
compose.yaml
cspell.config.ts
Dockerfile
eslint.config.ts
lint-staged.config.ts
prettier.config.ts
tsconfig.json
tsdoc.json
vitest.config.ts
